<!-- templates/chatterbox_app/email_inbox.html -->
{% extends 'chatterbox_app/base.html' %}
{% load custom_tags %}

{% block content %}
  <h2>Email Inbox</h2>
  {% if emails %}
    <ul>
      {% for email in emails %}
        <li>
          <strong>From:</strong> {{ email.From }}<br />
          <strong>Subject:</strong> {{ email.Subject|decode_subject }}<br />
          <strong>Date:</strong> {{ email.Date }}<br />
          <hr />
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No emails found.</p>
  {% endif %}
{% endblock %}
